<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Register_User.aspx.vb" Inherits="_Hr_Staff_Register_User" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.Data.SqlClient" %>
<%@ Import Namespace="System.IO" %>

<% if len(session("admin")) > 1 then
   if mid(session("admin"),1,1) < 5 then
   Response.Redirect ("notauth.htm")
   end if
else
	if session("admin") < 5 then 
	Response.Redirect ("notauth.htm")
	End if
end if
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    </form>
</body>
</html>
