<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="Word_Game.aspx.vb" Inherits="Games_Word_Game" title="Untitled Page" %>

<%@ Register Src="../Keyboard.ascx" TagName="Keyboard" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table >
<tr>
<td style="width: 100px; height: 100px">
</td>
<td>
</td>
<td style="width: 100px">
</td>
</tr>
<tr>
<td>
    &nbsp;</td>
<td>
    <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="Large" ForeColor="Blue"
        Text="Label" Width="500px"></asp:Label></td>
<td>
</td>
</tr>
<tr>
<td>
    &nbsp;</td>
<td>
    <asp:Panel ID="Panel1" runat="server">
    </asp:Panel>
    <asp:Label ID="answ" runat="server" Text="Label"></asp:Label>
   </td>
<td>
</td>
</tr>
<tr>
<td>

</td>
<td style="height: 200px">
    &nbsp;<asp:Panel ID="Panel2" runat="server" Height="56px" Width="222px">
        <asp:Button ID="Button1" runat="server" BackColor="#00C000" Height="20px" Text="A"
            Width="20px" />
        <asp:Button ID="Button2" runat="server" BackColor="#00C000" Height="20px" Text="B"
            Width="20px" />
        <asp:Button ID="Button3" runat="server" BackColor="#00C000" Height="20px" Text="C"
            Width="20px" />
        <asp:Button ID="Button4" runat="server" BackColor="#00C000" Height="20px" Text="D"
            Width="20px" />
        <asp:Button ID="Button5" runat="server" BackColor="#00C000" Height="20px" Text="E"
            Width="20px" />
        <asp:Button ID="Button6" runat="server" BackColor="#00C000" Height="20px" Text="F"
            Width="20px" />
        <asp:Button ID="Button7" runat="server" BackColor="#00C000" Height="20px" Text="G"
            Width="20px" />
        <asp:Button ID="Button8" runat="server" BackColor="#00C000" Height="20px" Text="H"
            Width="20px" />
        <asp:Button ID="Button9" runat="server" BackColor="#00C000" Height="20px" Text="I"
            Width="20px" />
        <br />
        <asp:Button ID="Button10" runat="server" BackColor="#00C000" Height="20px" Text="J"
            Width="20px" />
        <asp:Button ID="Button11" runat="server" BackColor="#00C000" Height="20px" Text="K"
            Width="20px" />
        <asp:Button ID="Button12" runat="server" BackColor="#00C000" Height="20px" Text="L"
            Width="20px" />
        <asp:Button ID="Button13" runat="server" BackColor="#00C000" Height="20px" Text="M"
            Width="20px" />
        <asp:Button ID="Button14" runat="server" BackColor="#00C000" Height="20px" Text="N"
            Width="20px" />
        <asp:Button ID="Button15" runat="server" BackColor="#00C000" Height="20px" Text="O"
            Width="20px" />
        <asp:Button ID="Button16" runat="server" BackColor="#00C000" Height="20px" Text="P"
            Width="20px" />
        <asp:Button ID="Button17" runat="server" BackColor="#00C000" Height="20px" Text="Q"
            Width="20px" />
        <asp:Button ID="Button18" runat="server" BackColor="#00C000" Height="20px" Text="R"
            Width="20px" />
        <br />
        <asp:Button ID="Button19" runat="server" BackColor="#00C000" Height="20px" Text="S"
            Width="20px" />
        <asp:Button ID="Button20" runat="server" BackColor="#00C000" Height="20px" Text="T"
            Width="20px" />
        <asp:Button ID="Button21" runat="server" BackColor="#00C000" Height="20px" Text="U"
            Width="20px" />
        <asp:Button ID="Button22" runat="server" BackColor="#00C000" Height="20px" Text="V"
            Width="20px" />
        <asp:Button ID="Button23" runat="server" BackColor="#00C000" Height="20px" Text="W"
            Width="20px" />
        <asp:Button ID="Button24" runat="server" BackColor="#00C000" Height="20px" Text="X"
            Width="20px" />
        <asp:Button ID="Button25" runat="server" BackColor="#00C000" Height="20px" Text="Y"
            Width="20px" />
        <asp:Button ID="Button26" runat="server" BackColor="#00C000" Height="20px" Text="Z"
            Width="20px" />&nbsp;</asp:Panel>
    </td>
<td>

</td>
</tr>
</table>
    <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:sagroupportalDBConnectionString %>"
        SelectCommand="SELECT DISTINCT [Questions] FROM [WordGameTab] WHERE ([POS] = @POS)">
        <SelectParameters>
            <asp:ControlParameter ControlID="Label1" Name="POS" PropertyName="Text" Type="Int32" />
        </SelectParameters>
    </asp:SqlDataSource>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

