<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="admin.aspx.vb" Inherits="admin" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Label ID="Label1" runat="server" EnableTheming="False" Font-Bold="True" Font-Size="Large"
        Text="You are not authorized to view this page" Visible="False"></asp:Label><br />
    <asp:Panel ID="Panel1" runat="server" Width="551px">
        &nbsp;<asp:Button ID="Button2" runat="server" Text="Add User" />&nbsp;<asp:Button
            ID="Button1" runat="server" Text="Delete User" />&nbsp;<asp:Button 
            ID="Button3" runat="server"
                Text="Edit Users" />&nbsp;<asp:Button ID="Button4" runat="server" Text="User Logs" />&nbsp;<asp:Button 
            ID="Button5" runat="server" Text="Staff Credentials" />
        <asp:Button ID="Button6" runat="server" Text="web update request" />
&nbsp;<asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Web_Content_2_Change.aspx" Visible="False">Request for Web Contennt to Change</asp:HyperLink><br />
    <asp:HyperLink ID="HyperLink1" runat="server" ImageUrl="~/images/addmember.png" NavigateUrl="~/CreateUsers.aspx" Visible="False">Create User</asp:HyperLink></asp:Panel>
    <br />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

