<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="chat.aspx.vb" Inherits="chat" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script language="javascript">
function Comp(){
 window.open("chat_msg.aspx", "Chat_Room","left=400,top=200,height=600,width=400,scrollbars=yes,status=no,resizeable=yes");
}
</script>
    <table style="width: 594px">
        <tr>
            <td style="width: 146px">
                <strong>Online Staff</strong></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 146px">
                <asp:DataList ID="DataList1" runat="server" BackColor="#804000" BorderColor="#DEDFDE"
                    BorderStyle="None" BorderWidth="0px" CellPadding="1" DataKeyField="staffid" DataSourceID="SqlDataSource1"
                    ForeColor="Black" GridLines="Vertical" Height="100px">
                    <FooterStyle BackColor="#CCCC99" />
                    <AlternatingItemStyle BackColor="IndianRed" />
                    <ItemStyle BackColor="#004000" />
                    <SelectedItemStyle BackColor="#CE5D5A" Font-Bold="True" ForeColor="White" />
                    <HeaderStyle BackColor="#6B696B" Font-Bold="True" ForeColor="White" />
                    <ItemTemplate>
                        <table style="width: 176px">
                            <tr>
                                <td style="width: 116px">
                                    <asp:LinkButton ID="LinkButton1" runat="server" Font-Size="XX-Small" Text='<%# Eval("staffname", "{0}") %>' Height="0px" CommandArgument="chat.aspx" CommandName="Edit" OnClientClick="javascript:onclick =Comp()" ></asp:LinkButton></td>
                            </tr>
                        </table>
                    </ItemTemplate>
                </asp:DataList><asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:sagroupportalDBConnectionString %>"
                    SelectCommand="SELECT * FROM [chatroom] WHERE ([staffid] <> @staffid) ORDER BY [logtime], [logdate]">
                    <SelectParameters>
                        <asp:SessionParameter Name="staffid" SessionField="id" Type="Int32" />
                    </SelectParameters>
                </asp:SqlDataSource>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

