<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="chatroom.aspx.vb" Inherits="chatroom" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<script language="javascript">
function Comp(){
 window.open("chat_msg.aspx", "Chat_Room","left=400,top=50,height=600,width=400,scrollbars=yes,status=no,resizeable=yes");
}
</script>
    <table style="width: 594px">
        <tr>
            <td style="width: 146px">
                <strong>Online Staff</strong></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width: 146px">
                <asp:DataList ID="DataList1" runat="server" CellPadding="4" DataKeyField="staffid" DataSourceID="SqlDataSource1"
                    ForeColor="#333333" Height="1px" Width="69px">
                    <FooterStyle BackColor="#990000" Font-Bold="True" ForeColor="White" />
                    <AlternatingItemStyle BackColor="White" />
                    <ItemStyle BackColor="#FFFBD6" ForeColor="#333333" />
                    <SelectedItemStyle BackColor="#FFCC66" Font-Bold="True" ForeColor="Navy" />
                    <HeaderStyle BackColor="#990000" Font-Bold="True" ForeColor="White" />
                    <ItemTemplate>
                        <table style="width: 176px">
                            <tr>
                                <td style="width: 116px">
                                    <asp:LinkButton ID="LinkButton1" runat="server" CommandArgument="chatroom.aspx" CommandName="Edit"
                                        Font-Size="XX-Small" Height="0px" OnClientClick="javascript:onclick =Comp()"
                                        Text='<%# Eval("staffname", "{0}") %>'></asp:LinkButton></td>
                            </tr>
                        </table>
                    </ItemTemplate>
                </asp:DataList><asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:sagroupportalDBConnectionString %>"
                    SelectCommand="SELECT * FROM [chatroom] WHERE ([staffid] <> @staffid) ORDER BY [logtime], [logdate]">
                    <SelectParameters>
                        <asp:SessionParameter Name="staffid" SessionField="id" Type="Int32" />
                    </SelectParameters>
                </asp:SqlDataSource>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

