<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="chatroomlog.aspx.vb" Inherits="chatroomlog" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:Panel ID="Panel1" runat="server">
    <table style="width: 776px">
        <tr>
            <td colspan="4">
                <strong>SAG Chat Room User Authentication</strong></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right">
                <asp:Label ID="lblUsername" runat="server"></asp:Label>
                , pls enter your password here:<asp:TextBox ID="txtPassword" runat="server" CssClass="text_styles"
                    TextMode="Password"></asp:TextBox></td>
            <td style="text-align: left">
                <asp:Button ID="btnChatLog" runat="server" CssClass="Buttons" Text="Login" /></td>
        </tr>
        <tr>
            <td colspan="4" style="height: 15px">
                </td>
        </tr>
    </table>
    </asp:Panel>
                <asp:Label ID="lblMessage" runat="server"></asp:Label>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

