<%@ Page Language="VB" MasterPageFile="~/Chat.master" AutoEventWireup="false" CodeFile="chat_msg.aspx.vb" Inherits="chat_msg" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 345px">
        <tr>
            <td colspan="3">
                Chat with
                <asp:Label ID="lblFriendName" runat="server"></asp:Label></td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</asp:Content>

