<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="forum_detail.aspx.vb" Inherits="forum_detail" %>

<%@ Register Src="_SAControls/forum_details.ascx" TagName="forum_details" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table >
<tr>
<td>
        <uc1:forum_details ID="Forum_details1" runat="server" />
</td>
<td align="left" valign="bottom">
    <asp:Button ID="Button1" runat="server" Text="back" CausesValidation="False" 
        style="height: 26px" Visible="False" />
    <br />
    <br />
    <br />
</td>
</tr>
</table>

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>
