<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Forum_Info.aspx.vb" Inherits="Forum_Info" %>

<%@ Register Src="_SAControls/Forum_Add.ascx" TagName="Forum_Add" TagPrefix="uc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Insert New Forum Topic</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table style="width: 440px">
            <tr>
                <td colspan="3">
                    <uc1:Forum_Add ID="Forum_Add1" runat="server" />
                </td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
