<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="Forum_more.aspx.vb" Inherits="Forum_more" %>

<%@ Register Src="_SAControls/forum_more.ascx" TagName="forum_more" TagPrefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<script language="javascript">

function Comp(){
 window.open("Update_News.aspx", "Check_Mail","left=400,top=200,height=400,width=600,scrollbars=yes,status=no,resizeable=yes");
}
function forum(){
 window.open("Forum_Info.aspx", "Forum_Details","left=150,top=100,height=300,width=600,scrollbars=yes,status=no,resizeable=yes");
}

</script>
        <table style="width: 480px">
            <tr>
                <td colspan="3">
                    <strong>Forum Topic List</strong></td>
            </tr>
            <tr>
                <td colspan="3">
                    <uc1:forum_more ID="Forum_more1" runat="server" />
                </td>
            </tr>
        </table>
    
 </asp:Content>
 <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>