<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="HR_Portal.aspx.vb" Inherits="HR_Portal" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table style="width: 232px">
        <tr>
            <td style="height: 16px">
                <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Hr_Staff_Profile_Editor.aspx">Staff Profile Editor</asp:HyperLink>
            </td>
            <td style="height: 16px">
            </td>
            <td style="height: 16px">
            </td>
        </tr>
        <tr>
            <td>
                <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/_Hr_Staff/HR_Message.aspx">Broadcast Message</asp:HyperLink></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <asp:Label ID="lblMessage" runat="server"></asp:Label></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </table>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

