<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Keyboard.ascx.vb" Inherits="Keyboard" %>
<script language ="javascript" type ="text/javascript" >
function addFileUploadBox() {
            if (!document.getElementById || !document.createElement)
                return false;

            var uploadArea = document.getElementById("upload-area");

            if (!uploadArea)
                return;

            var newLine = document.createElement("br");
            uploadArea.appendChild(newLine);

            var newUploadBox = document.createElement("input");

            // Set up the new input for file uploads
            newUploadBox.type = "file";
            newUploadBox.size = "30";

            // The new box needs a name and an ID
            if (!addFileUploadBox.lastAssignedId)
                addFileUploadBox.lastAssignedId = 100;

            newUploadBox.setAttribute("id", "dynamic" + addFileUploadBox.lastAssignedId);
            newUploadBox.setAttribute("name", "dynamic:" + addFileUploadBox.lastAssignedId);
            uploadArea.appendChild(newUploadBox);
            addFileUploadBox.lastAssignedId++;
        } 
        
        function addButton(x){
        if (!document.getElementById || !document.createElement )
        return false;
        var uploadarea=document.getElementById ("butarea");
        if(!uploadarea)
        return;
        var newLine=document.createElement ("br");
        uploadarea.appendChild(newLine);
        var newUploadBox=document.createElement ("input")
        newuploadBox.size="20";
        newuploadBox.type="button";
        newuploadBox.font-size="12";
        newuploadBox.text=x;
        if (!addButton(x).lastAssignedId)
        addButton(x).lastAssignedId=10;
        
        newuploadBox.setAttribute("id","dynamic"+addButton(x).lastAssignedId);
        newUploadBox.setAttribute("name", "dynamic:" + addButton(x).lastAssignedId);
            uploadarea.appendChild(newUploadBox);
            addButton.lastAssignedId++;
        }
</script>
<asp:Panel ID="Panel1" runat="server" Height="56px" Width="222px">
    <asp:Button ID="Button1" runat="server" BackColor="#00C000" Height="20px" Text="A"
        Width="20px" />
    <asp:Button ID="Button2" runat="server" BackColor="#00C000" Height="20px" Text="B"
        Width="20px" />
    <asp:Button ID="Button3" runat="server" BackColor="#00C000" Height="20px" Text="C"
        Width="20px" />
    <asp:Button ID="Button4" runat="server" BackColor="#00C000" Height="20px" Text="D"
        Width="20px" />
    <asp:Button ID="Button5" runat="server" BackColor="#00C000" Height="20px" Text="E"
        Width="20px" />
    <asp:Button ID="Button6" runat="server" BackColor="#00C000" Height="20px" Text="F"
        Width="20px" />
    <asp:Button ID="Button7" runat="server" BackColor="#00C000" Height="20px" Text="G"
        Width="20px" />
    <asp:Button ID="Button8" runat="server" BackColor="#00C000" Height="20px" Text="H"
        Width="20px" />
    <asp:Button ID="Button9" runat="server" BackColor="#00C000" Height="20px" Text="I"
        Width="20px" />
    <br />
    <asp:Button ID="Button10" runat="server" BackColor="#00C000" Height="20px" Text="J"
        Width="20px" />
    <asp:Button ID="Button11" runat="server" BackColor="#00C000" Height="20px" Text="K"
        Width="20px" />
    <asp:Button ID="Button12" runat="server" BackColor="#00C000" Height="20px" Text="L"
        Width="20px" />
    <asp:Button ID="Button13" runat="server" BackColor="#00C000" Height="20px" Text="M"
        Width="20px" />
    <asp:Button ID="Button14" runat="server" BackColor="#00C000" Height="20px" Text="N"
        Width="20px" />
    <asp:Button ID="Button15" runat="server" BackColor="#00C000" Height="20px" Text="O"
        Width="20px" />
    <asp:Button ID="Button16" runat="server" BackColor="#00C000" Height="20px" Text="P"
        Width="20px" />
    <asp:Button ID="Button17" runat="server" BackColor="#00C000" Height="20px" Text="Q"
        Width="20px" />
    <asp:Button ID="Button18" runat="server" BackColor="#00C000" Height="20px" Text="R"
        Width="20px" />
        <br />
    <asp:Button ID="Button19" runat="server" BackColor="#00C000" Height="20px" Text="S"
        Width="20px" />
    <asp:Button ID="Button20" runat="server" BackColor="#00C000" Height="20px" Text="T"
        Width="20px" />
    <asp:Button ID="Button21" runat="server" BackColor="#00C000" Height="20px" Text="U"
        Width="20px" />
    <asp:Button ID="Button22" runat="server" BackColor="#00C000" Height="20px" Text="V"
        Width="20px" />
    <asp:Button ID="Button23" runat="server" BackColor="#00C000" Height="20px" Text="W"
        Width="20px" />
    <asp:Button ID="Button24" runat="server" BackColor="#00C000" Height="20px" Text="X"
        Width="20px" />
    <asp:Button ID="Button25" runat="server" BackColor="#00C000" Height="20px" Text="Y"
        Width="20px" />
    <asp:Button ID="Button26" runat="server" BackColor="#00C000" Height="20px" Text="Z"
        Width="20px" />&nbsp;
   
        </asp:Panel>
<span id="upload-area"> 
<input id="Button27" type="button" value="Z" BackColor="#00C000" Height="20px"  Width="20px" style="background-color: #00c000" onclick ="addFileUploadBox()"/>
</span>