﻿<%@ Page Title="" Language="VB" MasterPageFile="~/sa_Glass_Theme.master" AutoEventWireup="false" CodeFile="m_wall.aspx.vb" Inherits="m_wall" %>

<%@ Register src="users_wall.ascx" tagname="users_wall" tagprefix="uc1" %>
<%@ Register src="wallpost.ascx" tagname="wallpost" tagprefix="uc2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:users_wall ID="users_wall1" runat="server" />
    <uc2:wallpost ID="wallpost1" runat="server" />
    
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

