<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="mail.aspx.vb" Inherits="mail" title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
    <br />
    &nbsp;
    <!--<asp:ImageButton ID="ImageButton2" runat="server" />-->
    <iframe src ="http://www.sagroupng.com:9998/" id="" height="100%" width="97%" scrolling="auto"></iframe>
    <!--http://www.sagroupng.com:9998/Login.aspx-->
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
    <div>
        &nbsp;</div>
</asp:Content>

