<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="SA_Insurance_App.aspx.vb" Inherits="SA_Insurance_App" title="General Insurance" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<iframe src ="http://192.168.1.141/saipolicy.net4/security/login.aspx" id="" height="100%" width="100%" scrolling="auto"></iframe>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

