<%@ Page Language="VB" MasterPageFile="~/Main.master" AutoEventWireup="false" CodeFile="SA_Insurance_App1.aspx.vb" Inherits="SA_Insurance_App1" title="Account Application" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<iframe src ="http://192.168.1.141/accountprosa.net4/security/login.aspx" id="" height="100%" width="100%"></iframe>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" Runat="Server">
</asp:Content>

