.login_pg {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #003300;
	background-color: #FFFFFF;
}
.Buttons {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #990000;
	border: 1px solid #003300;
	font-weight: bold;
}
.text_styles {
	font-family: Tahoma;
	color: #FFFFFF;
	background-color: #993300;
	border: 1px solid #FFFFFF;
}
.main_heading {
	font-family: Tahoma;
	font-size: 12px;
	color: #003300;
	background-color: #FFFFFF;
	background-image: url(images/top_gradient.jpg);
}
.Grid
{
	word-wrap:break-word;
}
.login_tops {
	background-image: url(images/login_top_gradient.jpg);
	background-repeat: repeat-x;
}
.watermarker
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFCC;
	background-color: #008000;
	filter: alpha(opacity=40);
	opacity: 0.7;
}