.Top_gradient {
	background-image: url(images/gradients.jpg);
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
}
.Top_gradient1 {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	background-image: url(images/gradients1.jpg);
	background-repeat: no-repeat;
}
.login_pg {
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(images/sagpuzzle.jpg);
}
.Buttons {
	font-family: Tahoma;
	font-size: 11px;
	color: #FFFFFF;
	border: 1px solid #003300;
	font-weight: bold;
	background-image: url(images/gradients.jpg);
}
.text_styles {
	font-family: Tahoma;
	color: #FFFFFF;
	background-color: #993300;
	border: 1px solid #FFFFFF;
}
.main_heading {
	font-family: Tahoma;
	font-size: 12px;
	color: #003300;
	background-color: #FFFFFF;
	background-image: url(images/top_gradient.jpg);
}
.CrUserLab
{
	font-style :normal ;
	color :Black ;
	font-weight :bold ;
	font-size :14px ;
}
.Grey_Heading {
	background-image: url(images/top_gradient_grey.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;
	display: block;
}
.Wine_Heading {
	background-image: url(images/top_gradient_wine.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.Blue_Heading {
	background-image: url(images/top_gradient_blue.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.Green_Heading {
	background-image: url(images/top_gradient_green.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.Orange_Heading {
	background-image: url(images/top_gradient_orange.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
.Purple_Heading {
	background-image: url(images/top_gradient_purple.jpg);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}.White_edge {
	border: thin solid #FFFFFF;
}
.border_black {
	border: thin solid #000000;
}
.bodies_theme_gradient {
	background-repeat: repeat-y;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.small_modules {
	background-image: url(images/bordersss.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.Top_cov {
	background-image: url(images/body_tops.jpg);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
}
.bottom_cov {
	background-image: url(images/body_bottoms.jpg);
	background-repeat: no-repeat;
}
.inner_col {
	background-image: url(images/body_blends.jpg);
	background-repeat: repeat-x;
}
.small_inner_heading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-image: url(images/small_heading.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-weight: bold;
	font-size: 11px;
}
.bodiess {
	border: thin solid #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003300;
}
.Bodys_Covs {
	background-image: url(images/tops_banner.jpg);
	border: thin solid #003300;
}
