<%@ Control Language="VB" AutoEventWireup="false" CodeFile="News.ascx.vb" Inherits="Controls_News" %>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAjKs04ggpXM5-NDWjWuOVRxTAfIAlNsGIH7GgHDTsxlHgbKmFVBR5EKV1bPOCZ09yQT17WKClfMk4WA">
</script>

<script type="text/javascript" src="gfeedfetcher.js">

/***********************************************
* gAjax RSS Feeds Displayer- (c) Dynamic Drive (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<style type="text/css">

.labelfield{ /*CSS for label field in general*/
color:brown;
font-size: 90%;
}

.datefield{ /*CSS for date field in general*/
color:gray;
font-size: 90%;
}

#example1 li{ /*CSS specific to demo 1*/
margin-bottom: 4px;
}

#example2 div{ /*CSS specific to demo 2*/
margin-bottom: 5px;
}

#example2 div a{ /*CSS specific to demo 2*/
text-decoration: none;
}

#example3 a{ /*CSS specific to demo 3*/
color: #D80101;
text-decoration: none;
font-weight: bold;
}

#example3 p{ /*CSS specific to demo 3*/
margin-bottom: 2px;
}

code{ /*CSS for insructions*/
color: red;
}

</style>
&nbsp;<table style="width: 470px">
    <tr>
<script type="text/javascript">

var newsfeed=new gfeedfetcher("<b>example1</b>", "<b>example1class</b>", "")
newsfeed.addFeed("AFR", "http://rss.cnn.com/rss/edition_africa.rss") //Specify "label" plus URL to RSS feed
newsfeed.addFeed("BIZ", "http://rss.cnn.com/rss/edition_business.rss")
newsfeed.addFeed("SPO", "http://rss.cnn.com/rss/edition_football.rss")
newsfeed.displayoptions("datetime snippet") //show the specified additional fields
newsfeed.setentrycontainer("p") //Display each entry as a paragraph
newsfeed.filterfeed(1, "date") //Show 8 entries, sort by date
newsfeed.init() //Always call this last

</script>


    </tr>
</table>
