<%@ Control Language="VB" AutoEventWireup="false" CodeFile="bdayx.ascx.vb" Inherits="_SAControls_bdayx" %>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="6%" align="right" valign="top"><img src="navs/bdays.gif" width="54" height="53" /></td>
    <td width="94%" align="left" valign="top">&nbsp;</td>
  </tr>
</table>