<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Links.ascx.cs" Inherits="_SAControls_Links" %>
<TABLE id="Table4" 	width="75%" border="0" bordercolor="gainsboro" cellpadding="3">
	<TR class="documentMain">
		<TD class="documentText" vAlign="top">
					<asp:datalist id="dlnews" ShowHeader="False" Width="100%" BorderStyle="None"
						CellPadding="2" BackColor="Transparent" BorderWidth="0px" BorderColor="#CCCCCC"  
						  Height="16px" runat="server" RepeatColumns="2" OnItemDataBound="dlnews_ItemDataBound">
						<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
						<AlternatingItemStyle CssClass="gridh"></AlternatingItemStyle>
						<ItemStyle ForeColor="#000066" CssClass="gridh"></ItemStyle>
								<ItemTemplate> 
									<table border="0" cellpadding="2" cellspacing="2">
								<tr valign="top">
								<td><asp:Label ID="lbl" CssClass="" runat="server" Text="::"></asp:Label></td>
								<td>
									<a style="width:120px" class="smallie" href ='<%# DataBinder.Eval(Container, "DataItem.linkurl","{0}") %>'>
										<%#DataBinder.Eval(Container.DataItem, "linkname")%>
									</a>
									</td> 
									</tr>  
									</table> 
								</ItemTemplate> 
					</asp:datalist></TD>
	</TR>
	<TR>
		<TD vAlign="middle" align="Right" height="10">
			 
				 
		</TD>
	</TR>
</TABLE>
