<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Listed.ascx.cs" Inherits="_SAControls_Listed" %>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

   <!-- <tr height="18px" valign="top">
      <td width="48%" align="left" valign="bottom" ><img src="navs/mails.jpg" width="16" height="13" border="0" align="absmiddle" /> <a href="./imap/getmail.aspx" class="smallie">Email(s)</a></td>
      <td width="20%" valign="bottom"><asp:LinkButton ID="lnkmails" runat="server"></asp:LinkButton></td>
      <td width="32%" rowspan="5" align="right"><img src="images2/our_mission.jpg" width="316" height="150" /></td>
    </tr> -->
    <tr height="18px" valign="top">
        <td align="left" valign="bottom" >
            <img src="images/feedback.gif" width="16" height="16" border="0" align="absmiddle" /> <a class="smallie" href="./imsort.aspx">Instant Messages:</a>        </td>
  <td valign="bottom">
            <asp:LinkButton ID="lnkim" runat="server"></asp:LinkButton></td>
    </tr>
    <tr height="18px" valign="top">
        <td align="left" valign="bottom">
            <img src="images/clock.gif" width="16" height="16" border="0" align="absmiddle" /> <a class="smallie" href="./reminders/reminderlist.aspx">Active Reminders:</a>        </td>
        <td valign="bottom">
            <asp:LinkButton ID="lnkrem" runat="server"></asp:LinkButton></td>
    </tr>
    <tr valign="top">
        <td align="left" valign="bottom">
            <img src="images/Call.gif" width="16" height="16" border="0" align="absmiddle" /> <a class="smallie" href="./phmsgsort.aspx">Phone Meesages:</a>        </td>
        <td align="left" valign="bottom">
            <asp:LinkButton ID="lnkPhone" runat="server"></asp:LinkButton></td>
    </tr>
    <tr valign="top">
      <td align="left" valign="middle"><img src="navs/todo.jpg" width="16" height="16" /> <a href="./todo/todolist.aspx" class="smallie">Todo List</a></td>
      <td align="left" valign="middle"><asp:LinkButton ID="lnktodo" runat="server"></asp:LinkButton></td>
    </tr> 
</table>
