<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Listed.ascx.cs" Inherits="_SAControls_Listed" %>
<style type="text/css">
    .style1
    {
        height: 11px;
    }
</style>
<table border="0" cellpadding="0" cellspacing="0" width="100%">

   <!-- <tr height="18px" valign="top">
      <td width="48%" align="left" valign="bottom" ><img src="navs/mails.jpg" width="16" height="13" border="0" align="absmiddle" /> <a href="./imap/getmail.aspx" class="smallie">Email(s)</a></td>
      <td width="20%" valign="bottom"><asp:LinkButton ID="lnkmails" runat="server"></asp:LinkButton></td>
      <td width="32%" rowspan="5" align="right"><img src="images2/our_mission.jpg" width="316" height="150" /></td>
    </tr> -->
    <tr height="18px" valign="top">
        <td align="left" valign="bottom" >
            <asp:HyperLink ID="HyperLink1" runat="server" Font-Bold="False" NavigateUrl="~/Download/HOW TO USE THE INTRANET[1].doc">How to use Intranet</asp:HyperLink>        </td>
  <td valign="bottom">
            <asp:LinkButton ID="lnkim" runat="server" Visible="False"></asp:LinkButton></td>
    </tr>
    <tr valign="top">
        <td align="left" valign="bottom" class="style1">
            <asp:HyperLink ID="HyperLink3" runat="server" Font-Bold="False" NavigateUrl="~/Download/SAIG_IT_Policy_review.doc">SA 
            Group IT Policy</asp:HyperLink>        </td>
        <td valign="bottom" class="style1">
            <asp:LinkButton ID="lnkrem" runat="server" Visible="False"></asp:LinkButton></td>
    </tr>
    <tr valign="top">
        <td align="left" valign="bottom">
            &nbsp;</td>
        <td align="left" valign="bottom">
            <asp:LinkButton ID="lnkPhone" runat="server" Visible="False"></asp:LinkButton></td>
    </tr>
    <tr valign="top">
      <td align="left" valign="middle">&nbsp;</td>
      <td align="left" valign="middle"><asp:LinkButton ID="lnktodo" runat="server" 
              Visible="False"></asp:LinkButton></td>
    </tr> 
    <tr valign="top">
        <td align="left" colspan="2" valign="middle">
            &nbsp;</td>
    </tr>
    <tr valign="top">
        <td align="left" valign="middle">
            &nbsp;</td>
        <td align="left" valign="middle">
            &nbsp;</td>
    </tr>
    <tr valign="top">
        <td align="left" valign="middle">
            &nbsp;</td>
        <td align="left" valign="middle">
        </td>
    </tr>
</table>
