<%@ Control Language="C#" AutoEventWireup="true" CodeFile="News.ascx.cs" Inherits="_SAControls_News" %>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAASZylwvZHFmaLR8ohIlVIuBQthtO7fdZL8ypsvKArYQYnp5hhkhQvgeBYZWuG0RKAsq07vm8EegpRCQ">
</script>

<script type="text/javascript" src="rsss/gfeedfetcher.js">

/***********************************************
* gAjax RSS Feeds Displayer- (c) Dynamic Drive (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>
<TABLE id="Table4" 	width="100%" height="90px" border="0" bordercolor="gainsboro" cellpadding="1">
<TR class="documentMain">
		<TD class="documentText" vAlign="top" style="width: 696px; height: 32px; text-align: left"><table border="0" cellspacing="0" cellpadding="0" style="width: 99%">
          <tr>
            <td align="left" valign="top" style="width: 611px; height: 19px"><img src="navs/rss.jpg" width="72" height="18" /></td>
          </tr>
          <tr>
            <td align="left" valign="top" style="width: 611px">
<script type="text/javascript">

var newsfeed=new gfeedfetcher("example3", "example3class", "_new")
newsfeed.addFeed("AFR", "http://rss.cnn.com/rss/edition_africa.rss") //Specify "label" plus URL to RSS feed
newsfeed.addFeed("BIZ", "http://rss.cnn.com/rss/edition_business.rss")
newsfeed.addFeed("SPO", "http://rss.cnn.com/rss/edition_football.rss")
newsfeed.addFeed("SPR", "http://www.goal.com/en/feeds/news?fmt=rss")
newsfeed.displayoptions("datetime snippet") //show the specified additional fields
newsfeed.setentrycontainer("p") //Display each entry as a paragraph
newsfeed.filterfeed(1, "date") //Show 8 entries, sort by date
newsfeed.init() //Always call this last

</script>
</td>
          </tr>
        </table></TD>
  </TR>
	<TR>
		<TD vAlign="bottom" align="Right" style="width: 696px; height: 12px">
			 
		  <asp:hyperlink id="HyperLink1"  Font-Size="X-Small" Width="48px" runat="server" NavigateUrl="~/whatnew.aspx">more...</asp:hyperlink>
		</TD>
  </TR>
</TABLE>
