<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Projects.ascx.cs" Inherits="_SAControls_Projects" %>

<TABLE id="Table4" 	width="100%" height="202" border="0" bordercolor="gainsboro" cellpadding="2">
	<TR class="documentMain">
		<TD class="documentText" vAlign="top">
					<asp:datalist id="dlnews" ShowHeader="False" Width="100%" BorderStyle="None"
						CellPadding="3" BackColor="Transparent" BorderWidth="0px" BorderColor="#CCCCCC"  
						  Height="16px" runat="server" RepeatColumns="2" OnItemDataBound="dlnews_ItemDataBound">
						<SelectedItemStyle Font-Bold="True" ForeColor="White" BackColor="#669999"></SelectedItemStyle>
						<AlternatingItemStyle CssClass="gridh"></AlternatingItemStyle>
						<ItemStyle ForeColor="#000066" CssClass="gridh"></ItemStyle>
								<ItemTemplate>
								<asp:Label ID="lbl" CssClass=""  runat="server" Text="::" ></asp:Label>  
									<a class="admintextbold" style="COLOR: Maroon" href ='Projects/Projectid.aspx?ID=<%# DataBinder.Eval(Container, "DataItem.ID") %>&projectname='>
										<%#DataBinder.Eval(Container.DataItem, "projNum","Project:{0}")%>									</a>
									<br>
									 <span class="newsstory">
										<%# DataBinder.Eval(Container, "DataItem.ProjectName") %>									</span>								</ItemTemplate> 
					</asp:datalist></TD>
	</TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10">&nbsp;</TD>
  </TR>
	<TR>
	  <TD vAlign="middle" align="Right" height="10"></TD>
  </TR>
	<TR>
		<TD vAlign="middle" align="Right" height="10">
			 
				<asp:hyperlink id="HyperLink1" Font-Size="X-Small" CssClass="Normal" Width="48px" runat="server" NavigateUrl="../Projects/ProjectList1.aspx">more...</asp:hyperlink>		</TD>
	</TR>
</TABLE>
