<%@ Control Language="VB" ClassName="Staff_Intro" %>

<script runat="server">

</script>

<asp:DataList ID="DataList1" runat="server" DataKeyField="ID" DataSourceID="SqlDataSource1">
    <ItemTemplate>
        <table style="width: 328px">
            <tr>
                <td rowspan="5" style="width: 94px">
                    <asp:Image ID="Image1" runat="server" Height="120px" ImageUrl='<%# Eval("picloc", "{0}") %>'
                        Width="100px" /></td>
                <td style="width: 222px; text-align: left">
                    <span style="color: #999999">Name:</span></td>
                <td style="width: 1509px; text-align: left">
                    <asp:Label ID="fullnameLabel" runat="server" Text='<%# Eval("fullname") %>'></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 222px; text-align: left">
                    <span style="color: #999999">Company:</span></td>
                <td style="width: 1509px; text-align: left">
                    <asp:Label ID="locationLabel" runat="server" Text='<%# Eval("location") %>'></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 222px; text-align: left">
                    <span style="color: #999999">Location:</span></td>
                <td style="width: 1509px; text-align: left">
                    <asp:Label ID="officeLabel" runat="server" Text='<%# Eval("office") %>'></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 222px; text-align: left">
                    <span style="color: #999999">Department:</span></td>
                <td style="width: 1509px; text-align: left">
                    <asp:Label ID="DepartmentLabel" runat="server" Text='<%# Eval("Department") %>'></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 222px; text-align: left">
                    <span style="color: #999999">Email:</span></td>
                <td style="width: 1509px; text-align: left">
                    <asp:Label ID="emailLabel" runat="server" Text='<%# Eval("email") %>'></asp:Label></td>
            </tr>
            <tr>
                <td style="width: 94px">
                </td>
                <td style="width: 222px">
                </td>
                <td style="width: 1509px">
                    <asp:Label ID="Label1" runat="server" Text='<%# Eval("picloc") %>'></asp:Label></td>
            </tr>
        </table>
    </ItemTemplate>
</asp:DataList><asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:foxsuite1ConnectionString2 %>"
    SelectCommand="SELECT     TOP (1) ID, phone, fax, city, state, Address1, Address2, zipcode, email, Department, location, building, last, first, MI, picloc, office, Timestamp, title, background, &#13;&#10;                      empnum, listname, uname, pw, admin, surveyallow, emailpass, emailuser, remotemail, D11, address3, sharecal, cellphone, pager, country, supervisor, calaccess, &#13;&#10;                      projectview, lastlogin, visits, hppopup, status, flash, filelimit, timezone, getmail, emailpass2, emailuser2, remotemail2, emailpass3, emailuser3, remotemail3, &#13;&#10;                      fullname, background2, background3, spam, blogcomments, profilename, remotemailtype, remotemail2type, remotemail3type, blogdate, blogtitle, staff_level&#13;&#10;FROM         directory&#13;&#10;ORDER BY NEWID()">
</asp:SqlDataSource>
