<%@ Control Language="VB" AutoEventWireup="false" CodeFile="Util.ascx.vb" Inherits="_SAControls_Util" %>
<table width="100%" height="75px" border="0" cellpadding="2" cellspacing="1" style="width: 140px">
<tr valign="top"  >
       <td> <a class="smallie"  href="./Calculator.aspx">::Calculator</a>        </td>
        <td style="width: 76px">
        
        <a class="smallie"  href="./transfer/transfer.aspx">::Import/Export</a>             </td>
    </tr>
    <tr valign="top">
        <td colspan="2"><a class="smallie"  href="./WorldTime.aspx">::World Time</a>        
          <a class="smallie"  href="./Help/Helpmenu.htm">::Help</a>             </td>
    </tr>
    <tr valign="top">
        <td>        </td>
        <td style="width: 76px">
            <span style="color: #0000ff; text-decoration: underline"></span>        </td>
    </tr>
    <tr valign="top">
      <td></td>
      <td style="width: 76px">&nbsp;</td>
    </tr>
    <tr valign="top">
      <td></td>
      <td style="width: 76px">&nbsp;</td>
    </tr>
    <tr valign="top">
      <td></td>
      <td style="width: 76px">&nbsp;</td>
    </tr>
    <tr valign="top">
      <td colspan="2" height="20"></td>
    </tr>
</table>
